<h1 [@header] class="text-center">Mildza's Movie Database</h1>
<div class="search">
  <input class="center" type="text" (keyup)="onKey($event)" placeholder="Search ...">
  <span class="float-right">Ukupno:  {{numberOfMovies}}</span> 
</div>

<div class="spinner" *ngIf="!movies else cinema"></div>

<ng-template #cinema>
<div [@list] *ngFor="let movie of movies | reverse | filter : search as result; let i = count;" >
    {{check(result.length)}}
<div class="poster">
  <h3 >{{movie.naziv}}</h3>
<div class="row">
    <div class="genre col-md-5 offset-md-1" *ngIf="movie">
        <span *ngFor = "let zanr of movie.zanr">
              <img src = "../../assets/images/{{zanr}}.png" title="{{zanr}}">
        </span>
    </div>
    <div class="marks col-md-5 order-1">
      <span  *ngIf="movie.ocena==1" title="jedinica">
        <i class="fas fa-star stars details"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </span>
      <span *ngIf="movie.ocena==2" title="dvojka">
        <i class="fas fa-star stars details"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </span>
      <span  *ngIf="movie.ocena==3" title="trojka">
        <i class="fas fa-star stars details"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </span>
      <span  *ngIf="movie.ocena==4" title="cetvorka">
        <i class="fas fa-star stars details"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star"></i>
      </span>
      <span *ngIf="movie.ocena==5" title="petica">
        <i class="fas fa-star stars details"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
        <i class="fas fa-star stars"></i>
      </span>
  </div>
  
  
</div>
  <p class="text actors lead text-center">{{movie.glumci}}</p>
  
  <p class="text lead font-italic text-center mb-0">{{movie.utisak}} </p>
  <p class="small font-italic text-right mb-0">{{movie.updatedAt | date: 'MMMM, yyyy'}}</p>
  
    
</div>
</div>
</ng-template>