.login {
    position: absolute;
    top:10px;
    left:10px;
  }
.login a {
    padding:10px;
}  

.padding {padding-bottom: 30px;}

.label {
   min-width:100px;
    margin-bottom: 20px;
    margin-right: 10px;    
}

.labels > label {
    font-size: 16px;
    
}

hr {
    background-color:#FFF;
    margin-bottom: 50px;
}
span {
   
    padding:10px;
}

.facebook {
    text-align: center;
    margin-top: 30px;
}
.facebook img{
    width:70px;
}

.facebook h3 {
    margin-bottom: 50px;
}
.facebook-btn {    
    padding:10px;
    background-color: #ff5353;
    color: #fff;
    border-radius:5px;
}

.admin {
    margin: auto auto;
    text-align: center;
}
.admin a {
    text-align: center;
    font-size: 2rem;
}


    .facebook-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #ff5353;
    }


@media (max-width: 992px){

  label{padding-left: 0px;}

  .labels {
    
    text-align: left;    
}
  
  .padding {padding-bottom: 10px;}
}

@media (max-width: 601px){

    .admin h3 {
        
        font-size:2.3rem;
    }
  }