<div class="container-fluid">
  <div *ngIf="!user" class="facebook">
    <h3>Logujte se preko Facebooka</h3>
    <a class="facebook-btn" href="http://localhost:3000/auth/facebook">Facebook</a> <br />
    <br />
    <hr />
    <div class="input-group-prepend col-md-4 offset-md-4">
      <label for="username" class="input-group-text label">Username: </label>
      <input
        type="text"
        name="username"
        class="form-control"
        autocomplete="username"
        placeholder="username"
        [(ngModel)]="username"
      />
    </div>
    <form ngForm>
      <div class="input-group-prepend col-md-4 offset-md-4 ">
        <label for="password" class="input-group-text label">Password: </label>
        <input
          type="password"
          name="password"
          class="form-control"
          autocomplete="current-password"
          placeholder="********"
          [(ngModel)]="pass"
        />
      </div>
      <button class="btn btn-success" (click)="checkUser()">LogIn</button>
    </form>
  </div>
  <div *ngIf="user" class="facebook">
    <div *ngFor="let user of user">
      <h3>DOBRODOSAO {{ user.displayName }}</h3>
      <img [src]="user.thumbnail" alt="" srcset="" />
      <div class="mt-4"><a routerLink="/cp">Uredi filmove</a></div>
    </div>
  </div>
</div>
