<h1 class="text-center">Wellcome Mildza to CPanel</h1>
<div class="row justify-content-center margins">
  <div class="col-sm-3 text-center">
    <a routerLink="/add"><i class="fas fa-plus-square fa-7x"></i></a> 
  </div>
  <div class="col-sm-3 text-center">
    <a routerLink="/delete"><i class="fas fa-minus-square fa-7x"></i></a> 
  </div>
</div>
<div class="row justify-content-center margins">
    <div class="col-sm-3 text-center">
    <a routerLink="/edit"><i class="fas fa-pen-square fa-7x"></i></a>
    </div>
</div>